Django==1.5
South==0.7.6
django-dajaxice==0.5.5
django-debug-toolbar==0.9.4
django-openid-auth==0.4
-e git+https://github.com/omab/django-social-auth.git#egg=django-social-auth
httplib2==0.7.7
oauth2==1.5.211
python-openid==2.2.5
requests==1.1.0
psycopg2==2.5
