{% extends 'base.html' %}

{% block title %}Heroes{% endblock %}

{% block menu_heroes %}<li class="active"><a href="{% url 'hero_list' %}">Heroes</a></li>{% endblock %}

{% block body %}

<table class="table table-bordered table-striped table-hover">
    <tbody>
        {% for hero in heroes %}
            {% if hero.available %}
                {% cycle '<tr>' '' %}
                    <td><center><img src="{{ hero.image_small }}" alt="{{ hero.localized_name }} image" /></center></td>
                    <td>{{ hero.localized_name }}</td>
                {% cycle '' '</tr>' as endtag %}
                {% if forloop.last and endtag == '' %}
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
