{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block menu_home %}<li class="active"><a href="{% url 'home' %}">Home</a></li>{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Last items to trade <small><a href="{% url 'all_transactions' %}">View all</a></small></h1>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 10%">Reference</th>
                <th style="width: 15%">Seller</th>
                <th style="width: 10%">Points</th>
                <th style="width: 50%">Items</th>
                <th style="width: 10%">Make an offer</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in last_transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td><a href="{% url 'user_profile' transaction.seller.id %}">{{ transaction.seller.username }}</a></td>
                    <td>points</td>
                    <td>
                        {% for item in transaction.item_pack.all %}
                            <img class="transaction-item-image" data-toggle="popover" data-placement="top" data-original-title="{{ item.base_item.name }}" data-content="{{ item.base_item.description|safe }}" src="{{ item.base_item.image }}" src="{{ item.base_item.image }}" style="width: 32px; height: 32px" />
                        {% endfor %}
                    </td>
                    <td>
                        {% if user == transaction.seller %}
                        <a class="btn btn-primary" href="{% url 'transaction_detail' transaction.id %}"><i class="icon-cog icon-white"></i> Details</a>
                        {% else %}
                            <a class="btn btn-primary" href="#"><i class="icon-shopping-cart icon-white"></i> Make an offer</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
