div.navbar div.navbar-inner {
    padding: 0 10px;
}

a.menu-image {
    line-height: 46px;
    vertical-align: middle;
}

p.menu-text a {
    color: rgb(45, 134, 185);
}

p.menu-text a:hover, .menu-text a:focus {
    color: rgb(60, 158, 216);
    text-decoration: none;
}

img.menu-avatar {
    width: 20px;
    height: 20px;
}

div#container {
    padding: 60px 10px 10px 10px;
}

img.profile-avatar {
    float: left;
    margin-right: 10px;
}
